#hamburger-nav {
  height: 50px;
  width: 100%;
  position: relative;
}

.hamburger {
  font-size: 2rem;
  cursor: pointer;
  margin-left: 4%;
}

.hamburger-name {
  cursor: default;
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
  font-weight: normal;
  text-shadow: 0 0 5px white;
  padding: 21px 0;
}

.hamburger-dropdown {
  position: absolute;
  top: 50px;
  width: 100vw;
  display: none;
  background-color: rgba(255, 255, 255, 0.5);
}

.hamburger-dropdown > div {
  padding: 15px;
  cursor: pointer;
  text-align: center;
  transition-duration: 0.2s;
}

.hamburger-dropdown > div:hover {
  background-color: var(--charcoal5);
}