.sidebar-container {
  position: fixed;
  right: -85px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4;
  opacity: 1;

  display: flex;
  align-items: center;

  transition-duration: 0.3s;
}

.sidebar-hidden {
  opacity: 0;
  pointer-events: none;
  cursor: default;
}

.sidebar-open {
  width: 50px;
  height: 50px;
  background-color: var(--charcoal);
  border: white solid 2px;
  border-radius: 50%;
  cursor: pointer;
  transition-duration: 0.3s;
}

.sidebar-open:hover {
  background-color: var(--charcoal3);
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  
  border-radius: 4px;
  padding: 10px;

  transition-duration: 0.3s;
}

.sidebar > div {
  margin: 6px 0;
  text-align: center;
  color: white;
  cursor: pointer;
  background-color: var(--charcoal5);
  border-radius: 7px;
  padding: 10px;
  transition-duration: 0.4s;
}

.sidebar > div:hover {
  background-color: var(--glassWhite);
  border-radius: 0;
  color: var(--charcoal);
}