.skills-inner-container {
  opacity: 0;
  transform: translateY(120px);
  transition-duration: 1s;
}

.skills {
  width: 100%;
  padding-bottom: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills h3 {
  color: white;
  font-size: 4rem;
  text-align: center;
}

.skill-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  width: calc(45 + 680px);
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 170px;
  border: var(--charcoal2) solid 3px;
  border-radius: 8px;

  transition-duration: 0.2s;
}

.skill:hover {
  background-color: var(--glassWhite);
  animation: animateSkills 0.7s linear infinite;
  border: none;
}

@keyframes animateSkills {
  0% { transform: translate(3px, 3px) rotate(0deg); }
  10% { transform: translate(-3px, -4px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(3px, -3px) rotate(1deg); }
  50% { transform: translate(-3px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 3px) rotate(0deg); }
  70% { transform: translate(3px, 3px) rotate(-1deg); }
  80% { transform: translate(-3px, -3px) rotate(1deg); }
  90% { transform: translate(3px, 2px) rotate(0deg); }
  100% { transform: translate(3px, -4px) rotate(-1deg); }
}

.skill img {
  width: 50px;
  height: 50px;
}

.skill h4 {
  color: white;
  cursor: default;
  padding: 0;
  margin: 0;
  margin-top: 7%;
  font-size: 0.8rem;
}