#triangle-divider {
  opacity: 0;
  transition-duration: 0.4s;
}

.triangle-divider {
  background-color: white;
  height: 80px;
  width: 100%;
  -webkit-clip-path: polygon(50% 72%, 0 0, 100% 0);
  clip-path: polygon(50% 72%, 0 0, 100% 0);
}